ddos_detection_logs.csv
test_data.csv
train_data.csv
test_results.csv

ddos_model.pkl
scaler.pkl
test_evaluation_results.csv
venv/
env/
.env/
.venv/
ENV/

__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/ 